.DS_Store
*.pyc
*.egg-info
*.swp
tags
suntek_app/docs/current
node_modules/
.pytest_cache
.vscode/
*/.ruff_cache/
*/.ruff_cache
Session.vim

suntek_app/www/dashboard.html
suntek_app/public/dashboard/
*/node_modules
suntek_app/public/dashboard/node_modules
suntek_app/public/node_modules

node_modules/
*/node_modules
**/node_modules/
suntek_app/public/dashboard/node_modules
suntek_app/public/node_modules
node_modules/
*/node_modules
suntek_app/public/dashboard/node_modules
suntek_app/public/node_modules
**/yarn.lock
**/public/node_modules
**/public/dashboard/node_modules

/suntek_app/public/node_modules
/suntek_app/public/dashboard/node_modules

